<template name="footerPage">
  <footer class="defaultFooter">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-4 footerBoxTop a">
          <p class="mainHeader">System dla pacjentow</p>
          <p class="secondHeader">Zostań użytkownikiem</p>
        </div>
        <div class="col-md-4 footerBoxTop b">
          <p class="mainHeader">Szybkie realizacje recept?</p>
          <p class="secondHeader">Elektroniczne recepty</p>
        </div>
        <div class="col-md-4 footerBoxTop c">
          <p class="mainHeader">System placówek medycznych</p>
          <p class="secondHeader">Ulepszamy placówki</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 footerBox">
          <p class="mainHeader">Znajdź nas</p>
          <div class="footerSmallSeparator"></div>
          <p class="mainContent">
            Lorem ipsum dolor sit amet
            <br>
            <br>
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
          </p>
          <div class="mediaFooterBox">
            <a href="#">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a href="#">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 footerBox">
          <p class="mainHeader">Wsparcie</p>
          <div class="footerSmallSeparator"></div>
          <p class="mainContent">Korzystaj z map Google - zaprowadzą Cię do najbliższej apteki z dostępnymi lekami z recepty.</p>
        </div>
        <div class="col-md-4 footerBox">
          <p class="mainHeader">Znajdź nas</p>
          <div class="footerSmallSeparator"></div>
          <p class="mainContent">
            Lorem ipsum dolor sit amet
            <br>
            <br>
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tinyFooter">
            <div class="pull-left">
              <span>Copyright © 2017 Mateusz Prendki i Marta Przybył</span>
            </div>
            <div class="pull-right">
              <a href="#top">
                top <i class="fa fa-arrow-up"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
