.contentMainPage {
  padding:70px 0px;
  .propositionBox {
    padding-left:70px;
    min-height:38px;
    i {
      position: absolute;
      left: 15px;
      font-size: 38px;
      top: 0px;
      color: #0384ce;
    }
    p {
      font-size:16px;
    }
  }
}
