.contactParagraph {
  font-size:34px;
  text-transform:uppercase;
  font-weight:300;
}
.contactSmallParagraph {
  font-size:24px;
  text-transform:uppercase;
  font-weight:300;
  a {
    text-decoration:none;
    color:inherit;
  }
}
